@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&family=DM+Sans:wght@300;400;500&display=swap');
@import "tailwindcss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'DM Sans', sans-serif;
  background: #FFB3C6;
}

.playfair {
  font-family: 'Playfair Display', serif;
}